body, html {
	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 400px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

h1,h2 {
	margin: 1em;
	font-size: 2em;
}
h2 {
    text-align: right;
	font-size: 1.7em;
	color: #000000;
}
main a {
	color: #101e97;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
}

p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
.hrindex {
	margin: 1em;
	border: 1px dotted #525252;
	clear: both;
}
figure {
	padding: 0.5em;
	margin: 0 2em 0.5em 2em;
	float: left;
	width: 30%;
	border: 1px solid black;
}
figcaption {
	font-size: 80%;
    text-align: center;
}

img {
	width: 100%;
    height: auto;
}

footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}

.slika {
    padding: 0.5em;
	margin: 0 2em 0.5em 2em;
	float: right;
	width: 30%;
	border: 1px solid black;
}

.text {
    margin: 1em;
	letter-spacing: 1px;
    text-align: right;
}

.dmreže {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.ikona {
    width: 35px;
    margin-top: 0.4em;
    margin-left: 0.5em;
}

.naučiviše {
	margin: 1em;
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: red;
	color: white;
}

.novosti hr {
	margin: 1em;
}

.novosti {
	background-color: rgb(31, 31, 31);
	color: white;
}

.novosti h2 {
	color:white;
	text-align: left;
}

.news1slika {
	margin: 5em;
	width: 45%;
	height: auto;
	float: left;
}

.news2slika {
	margin: 5em;
	width: 45%;
	height: auto;
	float: right;
}

.news3slika {
	margin: 5em;
	width: 45%;
	height: auto;
	float: left;
}

.news4slika {
	margin: 5em;
	width: 45%;
	height: auto;
	float: right;
}

.news5slika {
	margin: 5em;
	width: 45%;
	height: auto;
	float: left;
}

.naslov {
	text-align: center;
}

.news1 {
	padding-top: 15em;
	margin-bottom: 20em;
}

.news2 {
	padding-top: 15em;
	margin-bottom: 20em;
	text-align: right;
}

.news2 h2 {
	text-align: right;
}

.news3 {
	padding-top: 15em;
	margin-bottom: 20em;
	text-align: left;
}

.news3 h2 {
	text-align: left;
}

.news4 {
	padding-top: 15em;
	margin-bottom: 20em;
	text-align: right;
}

.news4 h2 {
	text-align: right;
}

.news5 {
	padding-top: 15em;
	margin-bottom: 20em;
	text-align: left;
}

.news5 h2 {
	text-align: left;
}

#galerija {
	display: flex;
	justify-content: center;
	align-items: center;	
}

#galerija figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 25%;
	border: 1px solid black;
}

#galerija figcaption {
	font-size: 90%;
	text-align: center;
}

.news1-1 {
	text-align: center;
}

.news1-1 h2{
	text-align: center;
}

.news1-1 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}

	.news1-1 img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news1-1 time {
		margin: 0 0 0 1em;
	}
	#galerija figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}

	#galerija figcaption {
		font-size: 90%;
		text-align: center;
	}
}

.news1main {
	font-family: Verdana,  sans-serif;
	text-align: center;
}

.kontakt {
	text-align: center;
	font-family: Verdana, sans-serif;
	margin: 1em 1em 0.5em 1em
}

.kontakt h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

input[type=text], input[type=email], select, textarea {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
}


input[type=submit], input[type=reset] {
    display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #920909 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	width: 7.5%;
	margin-bottom: 0.5em;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #6e0707;
}

#galerija2 figure {
	padding: 0.5em;
	margin: 0 0.5em 0.5em 0.5em;
	float: left;
	width: 30%;
	border: 1px solid black;
}
#galerija2 figcaption {
	font-size: 110%;
	height: 50px;
	text-align: center;
}

#O-nama {
	text-align: center;
}

#O-nama figure {
	display: block;
	margin: 0.5em 30em 0.5em 30em;
	width: 50%;
	border: 1px solid white;
}

.social {
	text-align: center;
}

.social img{
	width: 35px;
}